:root {
    --body-bg-color: black;
    --active-nav-color: #009fa0;
    --nav-link-color: #009fa0;
    --nav-link-hover-color: #F1F1E6;
    --main-text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
}

.left .nav-link {
    color: white;
}

.left {
    height: 100vh;
}

.nav-pills .nav-link.active {
    background-color: var(--active-nav-color);
    color: white;
}

.nav-link, hr {
    color: var(--nav-link-color);
}

.nav-link:hover {
    color: var(--nav-link-hover-color);
}

.content li, p {
    color: var(--main-text-color);
}

h4 {
    color: white;
}

